[mysqld]
port=3306
bind-address = 0.0.0.0
sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO
connect_timeout = 10
innodb_buffer_pool_size = 128M
innodb_data_file_path = ibdata1:10M:autoextend
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 8M
innodb_redo_log_capacity = 134217728
key_buffer_size = 16M
max_allowed_packet = 256M
max_binlog_size = 100M
max_connections = 151
max_heap_table_size = 32M
open_files_limit = 2048
skip-external-locking
thread_cache_size = 8
thread_stack = 256K
tmp_table_size = 32M
skip-host-cache
skip-name-resolve